# Dependencies
node_modules

# Build outputs
dist

# Environment files
.env
.env.local

# Logs
*.log

# OS files
.DS_Store

# TypeScript build info
*.tsbuildinfo

# Compiled config files
*.config.js
*.config.d.ts
*.config.d.ts.map

# Compiled source files
packages/*/src/**/*.js
packages/*/src/**/*.d.ts
packages/*/src/**/*.map
apps/*/src/**/*.js
apps/*/src/**/*.d.ts
apps/*/src/**/*.map
